@{
    string? appTitle = ViewData["app.title"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@appTitle - @ViewData["Title"]</title>
    <link rel="stylesheet" href="@GlobalScope.APP_CONTENT_URL_PREFIX/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="@GlobalScope.APP_CONTENT_URL_PREFIX/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="@GlobalScope.APP_CONTENT_URL_PREFIX/content/font-awesome/css/font-awesome.css" asp-append-version="false" />
    <link rel="stylesheet" href="@GlobalScope.APP_CONTENT_URL_PREFIX/css/theme.dark.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="@GlobalScope.APP_CONTENT_URL_PREFIX/lib/jquery/dist/jquery.min.js"></script>
    <script src="@GlobalScope.APP_CONTENT_URL_PREFIX/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@GlobalScope.APP_CONTENT_URL_PREFIX/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>